@import "./fonts.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.section {
	background-color: var(--background-color);
	min-height: 100vh;
}
.dark-theme {
	--background-color: #0d1117;
}
.light-theme {
	--background-color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 15px;
}
.thisday {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
