.thisDayInfoBlock {
	background: url("../../../assets/icons/Cloud.png") no-repeat;
	background-position: right top;
	width: 750px;
	background-color: #4f4f4f;
	border-radius: 20px;
	padding: 18px 32px;
	box-shadow: 0 0 10px #4f4f4f;
	display: flex;
	flex-direction: column;
}
.thisDayItems {
	display: flex;
	align-items: center;
	padding-top: 20px;
}

.thisDayIcons {
	width: 38px;
	height: 38px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}
.thisDayInfo {
	font-size: 14px;
	font-family: "Montserrat Medium";
	font-weight: 400;
	color: #939cb0;
}
.thisDayFeels {
	display: block;
	font-size: 14px;
	font-family: "Montserrat Medium";
	color: #fff;
	font-weight: 400;
	margin-left: 20px;
}
